#content_outer_wrapper {
  padding-bottom: 0px !important;
}

/* Menu Kiri & Atas */
body #app_wrapper #app_sidebar-left,
body #app_wrapper #app_sidebar-left #app_main-menu-wrapper {
  background-color: #ffffff;
}

#logo_wrapper ul li h1.brand-text {
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.4px;
  text-transform: uppercase;
  padding-left: 50px;
  font-size: 18px;
  font-weight: bold;
  padding-top: 3px;
}

#logo_wrapper ul li .logo img {
  top: 8px;
  height: 50px;
  width: auto;
}

#app_main-menu-wrapper .sidebar-header {
  font-family: "Montserrat", sans-serif;
  color: #9da1c0;
  opacity: 0.8;
}

body #app_wrapper #app_sidebar-left #app_main-menu-wrapper .nav-pills > li > a {
  color: #9da1c0;
  font-family: "Poppins", sans-serif;
  padding: 14px 15px;
  /* border-bottom: 0.5px solid #c0392b; */
}

body
  #app_wrapper
  #app_sidebar-left
  #app_main-menu-wrapper
  .nav-pills
  > li
  > a
  > img {
  width: 18px;
  font-size: 1.4em;
  vertical-align: text-top;
  display: inline-block;
}

.nav > li table {
  margin-left: 15px;
}

.nav > li table tr td {
  vertical-align: middle;
  padding: 10px 12px 10px 0px;
}

.nav > li img {
  width: 45px;
}

.nav > li div {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.5px;
  color: #e74c3c;
  font-weight: bold;
}

#logo_wrapper ul li.menu-icon a {
  padding: 19px 15px 0 0;
  color: #fff;
}

body #app_wrapper #app_sidebar-left #logo_wrapper {
  background-color: #ffffff;
}

body
  #app_wrapper
  #app_sidebar-left
  #app_main-menu-wrapper
  .nav-pills
  > li
  > a:hover,
body
  #app_wrapper
  #app_sidebar-left
  #app_main-menu-wrapper
  .nav-pills
  > li
  > a:focus,
body
  #app_wrapper
  #app_sidebar-left
  #app_main-menu-wrapper
  .nav-pills
  > li
  > a:active,
body #app_wrapper #app_sidebar-left #app_main-menu-wrapper .nav .open > a,
body #app_wrapper #app_sidebar-left #app_main-menu-wrapper .nav .open > a:focus,
body #app_wrapper #app_sidebar-left #app_main-menu-wrapper .nav .open > a:hover,
body
  #app_wrapper
  #app_sidebar-left
  #app_main-menu-wrapper
  .nav-pills
  > li
  > a:active,
body
  #app_wrapper
  #app_sidebar-left
  #app_main-menu-wrapper
  .nav-pills
  > li
  > a:hover {
  background-color: #ecedf0;
}

#app_main-menu-wrapper .nav .nav-sub li > a {
  padding: 10px 0 10px 39px;
  font-family: "Poppins", sans-serif;
}

#app_main-menu-wrapper .nav .nav-sub {
  padding: 0px;
}

body
  #app_wrapper
  #app_sidebar-left
  #app_main-menu-wrapper
  .nav
  .nav-sub
  li
  > a:hover,
body
  #app_wrapper
  #app_sidebar-left
  #app_main-menu-wrapper
  .nav
  .nav-sub
  li
  > a:focus,
body
  #app_wrapper
  #app_sidebar-left
  #app_main-menu-wrapper
  .nav
  .nav-sub
  li
  > a:active {
  background-color: #ecedf0;
}

body #app_wrapper #app_topnavbar-wrapper .navbar-nav li a,
body #app_wrapper #app_topnavbar-wrapper .navbar-nav ul.dropdown-menu li a {
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.3px;
  color: #2c3e50;
}
/* Menu Kiri & Atas */

/* Dashboard Tabulasi */
#header_wrapper + .tabpanel.tab-header .nav > li > a {
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.5px;
}

.dash_surya {
  padding: 0px 4px;
}

.dash_surya .col-md-3 {
  padding: 0px 8px 16px 8px;
}

.dash_surya .kotak img {
  margin: 8px 0px 8px 0px;
  width: 100px;
}

.dash_surya .kotak table {
  margin-right: auto;
  margin-left: auto;
}

.dash_surya .kotak p {
  margin-bottom: 8px;
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.5px;
  font-weight: bold;
  color: #2c3e50;
}

.dash_surya .kotak table tr td {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  text-align: left;
  padding-bottom: 3px;
  color: #2c3e50;
}

.dash_surya .kotak table tr td i {
  margin-left: 5px;
  font-weight: bold;
}

.dash_surya .kotak table tr td .zmdi-long-arrow-up {
  color: #27ae60;
}

.dash_surya .kotak table tr td .zmdi-long-arrow-down {
  color: #e74c3c;
}

.dash_surya .kotak {
  text-align: center;
  width: 100%;
  padding: 15px;
  background-color: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: background-color 0.5s ease;
}

.dash_surya .kotak:hover,
.dash_surya .kotak:focus {
  background-color: #ecf0f1;
}

@media (max-width: 1366px) {
  .dash_surya .kotak img {
    width: 80px;
  }

  .dash_surya .col-md-3 {
    width: 33.33333333% !important;
    padding: 0px 8px 16px 8px;
  }
}
/* Dashboard Tabulasi */

/* Atas */
#footer_wrapper,
body #app_wrapper #content_wrapper #header_wrapper {
  background-color: #e5e5e5;
}

#header_wrapper.header-md #header h1 {
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.3px;
  font-weight: 500;
  color: #2c3e50 !important;
}

#header_wrapper p {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  margin-bottom: 0px;
  color: #2c3e50 !important;
}

#header_wrapper.header-sm #header h1 {
  color: #2c3e50 !important;
}

.breadcrumb li {
  font-family: "Poppins", sans-serif;
  color: #2c3e50 !important;
}

.breadcrumb li a,
.breadcrumb li a:hover {
  color: #2c3e50 !important;
}

.breadcrumb {
  padding-top: 0px;
}
/* Atas */

/* Tombol */
.oke {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  background-color: #e74c3c !important;
}

.btn-default {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

.oke:hover {
  background-color: #c0392b !important;
}
/* Tombol */

/* Data Table */
.card-heading p {
  font-family: "Montserrat", sans-serif;
  padding-top: 0px !important;
  font-size: 20px !important;
  letter-spacing: -0.4px;
  color: #c0392b;
}

.card-heading p span {
  color: #fafafa;
}

.card.card-data-tables th {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.3px;
}

.card.card-data-tables td {
  font-family: "Poppins", sans-serif;
  letter-spacing: -0.2px;
  font-weight: 500;
}

.bottom {
  top: 40px;
}

.top {
  top: -30px;
}

.card.card-data-tables table.dataTable .tengah.sorting,
.card.card-data-tables table.dataTable .tengah.sorting_asc,
.card.card-data-tables table.dataTable .tengah.sorting_desc,
.card.card-data-tables .tengah {
  padding-left: 26px !important;
  text-align: center !important;
}

.aktif i,
.nonaktif i {
  margin-right: 8px;
  font-weight: bold;
}

.btn-fab-group.open .nav-sub {
  margin-top: 8px;
}

.m-t-30 {
  margin-top: 0px !important;
}
/* Data Table */

/* Pop Up */
.modal.fade.in .modal-dialog {
  background-color: #fff;
  border-radius: 4px;
}

.modal-body {
  background-color: #fff;
  padding-bottom: 0px;
}

.modal-footer {
  padding-top: 0px;
}

.modal .modal-header {
  background-color: #e74c3c;
}

.modal-title {
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.3px;
  font-weight: 500;
}

.modal-header p {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  margin-bottom: 0px;
  font-weight: 500;
}
/* Pop Up */

/* Form */
.form-group {
  margin-top: 0px;
  margin-bottom: 0px;
}

.lbl {
  font-family: "Poppins", sans-serif;
  letter-spacing: -0.5px;
}

.input {
  font-size: 14px;
  letter-spacing: -0.3px;
  height: 40px;
  margin-top: 0px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 3px !important;
}

.form-group.is-focused .form-control {
  background-image: linear-gradient(#e74c3c, #e74c3c),
    linear-gradient(rgba(165, 181, 203, 0.5), rgba(165, 181, 203, 0.5));
}

.form-group.is-focused label {
  color: #e74c3c !important;
}

.checkbox input[type="checkbox"]:checked + .checkbox-material .check {
  border-color: #e74c3c !important;
}

.checkbox input[type="checkbox"]:checked + .checkbox-material .check:before,
label.checkbox-inline
  input[type="checkbox"]:checked
  + .checkbox-material
  .check:before {
  color: #e74c3c !important;
}

.form-group.has-error .help-block,
.help-block {
  font-family: "Poppins", sans-serif;
  letter-spacing: -0.2px;
  font-size: 12px !important;
  color: #6f829c !important;
}

.radio input[type="radio"]:checked ~ .circle,
label.radio-inline input[type="radio"]:checked ~ .circle {
  border-color: #e74c3c;
}

label.radio-inline input[type="radio"]:checked ~ .check {
  background-color: #e74c3c;
}

.form-group label {
  font-family: "Poppins", sans-serif;
  font-size: 14px !important;
  letter-spacing: -0.2px;
}

.dropdownjs > input[readonly] {
  margin-top: 7px !important;
}

/* Status */
.form-group table tr td {
  vertical-align: middle;
  padding-right: 10px;
}

.form-group table tr td label {
  margin-bottom: 0px;
}
/* Status */

/* Form */

/* start: cutom-fab-menu */
.btn-fab-group .custom-fab-menu {
  z-index: 70;
}

.btn-fab-group .custom-fab-menu i {
  -webkit-transition: all 0.5s;
  -khtml-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.btn-fab-group.open .custom-fab-menu i {
  -webkit-transition: all 0.5s;
  -khtml-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotate(405deg);
  -khtml-transform: rotate(405deg);
  -moz-transform: rotate(405deg);
  -ms-transform: rotate(405deg);
  -o-transform: rotate(405deg);
  transform: rotate(405deg);
}
/* cutom-fab-menu */
